.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.column1{
  width: 38%;
  display: flex;
  flex-direction: column;
}
.column2{
  width: 38%;
  display: flex;
  flex-direction: column;
}
.column3{
  width: 18%;
  display: flex;
  flex-direction: column;
}
//column1
.status-mode{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.status{
  width: 42%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.mode{
  width: 52%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.chart{
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title, .text-update{
    margin: 0;
  }
}
.temperature{
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.air{
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.soil{
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.detail-chart{
  height: 150px;
}
.title{
  font-weight: 550;
  color: white;
  text-shadow: 1px 1px #0245A3, -1px -1px #0245A3, 1px -1px #0245A3, -1px 1px #0245A3;
  font-size: 1.5rem;
}
.text-status{
  font-weight: 550;
  color: white;
  text-shadow: 1px 1px #0245A3, -1px -1px #0245A3, 1px -1px #0245A3, -1px 1px #0245A3;
  line-height: 1.8;
}
.icon-normal{
  color: #0CF74E;
  margin-right: 10px;
}
.icon-warning{
  color: #EEF213;
  margin-right: 10px;
}
.icon-error{
  color: #EE1C1C;
  margin-right: 10px;
  color: rgb(246, 31, 31);
}
.button-mode{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.auto-mode{
  width: 60%;
  background-color: #C6F4F9;
  border-radius: 30px;
  font-weight: 550;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}
.semi-auto-mode{
  width: 60%;
  background-color: #C6F4F9;
  border-radius: 30px;
  font-weight: 550;
  padding: 5px;
  border: none;
}
.block{
  background-color: rgba(0, 0, 0, 0.5);
}
.head-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-update{
  font-size: 0.75rem;
  color: #FFFFFF;
}
//column2
.humidity-temp{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.humidity{
  width: 47%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.temp{
  width: 47%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.detail-humidity, .detail-temp{
  display: flex;
  justify-content: center;
}
.icon-humidity, .icon-temp{
  width: 60px;
  height: 60px;
  color: white;
}
.text-humidity, .text-temp{
  height: 60px;
  font-weight: 550;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.doC{
  padding-bottom: 20px;
  font-size: 1rem;
}
.process{
  width: 100%;
  height: 640px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}
.select-plant{
  display: flex;
  justify-content: space-between;
}
.select-plant select{
  border-radius: 25px;
  width: 12rem;
  height: 3rem;
  text-align: center;
  background-color: #82f3de;
}
.circle-process{
  width: 100%;
  height: 460px;
  margin-bottom: 30px;
}
.view-detail{
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-detail{
  width: 180px;
  height: 60px;
  background-color: #00ffd1;
  border-radius: 30px;
  border: none;
  font-weight: 550;
  font-size: 1.25rem;
}
//column3
.sensor-status{
  width: 100%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 20px;
}
.temp-sensor, .humi-sensor, .soil-moisture-sensor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request{
  width: 100%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 20px;
}
.nofi{
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 15px;
}

