.container {
    margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 100px;
	border-radius: 25px;
	padding: 20px;
	width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    margin-top: 10px;
	width: 70%;
	background-color: #21FFCA;
	font-style: normal;
	text-align: center;
	font-weight: 550;
	font-size: 2.5rem;
	border-radius: 20px;
	color: #0245A3;	
}
.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.form-select {
    width: 100%;
    height: 60px;
    background: #C6F4F9;
    border-radius: 30px;
    display: inline-block;
    font-style: normal;
    text-align: center;
    font-weight: 550;
    font-size: 2rem;
    margin-top: 5%;
}

.button-submit {
	width:30%;
	height: 70px;
	background: #0245A3;
	border-radius: 25px;
	font-style: normal;
	font-weight: 700;
	font-size: 100%;
	text-align: center;
	color: #21FFCA;
	margin-top: 30px;
    border: none;
	font-size: 1.5rem;
}


