.container {
  margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 5%;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
	width: 80%;
	height: 80%;
  display: flex;
}
.process{
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.sensor{
  width: 50%;
}

.perform-background{
	background-color: rgba(0, 0, 0, 0.4);
	width: 40%;
	margin:1%;
	border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 220px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.button {
	width: 150px;
	height: 60px;
	background: #0245A3;
	border-radius: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 47px;
	text-align: center;
	color: #21FFCA;
	margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  font-size: 1.25rem;
}

.Turnoff{
  background: #FF0000;
}
.continue{
  background-color: #82f3de;
  color: black;
}

.animation-container {
  position: relative;
  height: 300px;
  width: 50px;
  margin: 20px auto;
  background-color: #EEE;
  overflow: hidden;
}

.water {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 50px;
  background-color: blue;
  transform-origin: bottom;
  animation: fill 5s ease-out forwards;
}

.pause {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 50px;
  background-color: gray;
  transform-origin: bottom;
  animation: fill 5s ease-out forwards;
  animation-direction: reverse;
}

.sensor1 {
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:98%;
  background-color: #D9D9D9;
  border-radius: 20px;
  color: #0245A3;
  font-weight: 550;
  font-size:40px;
}
.sensor2 {
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:98%;
  background-color: #D9D9D9;
  border-radius: 20px;
  color: #0245A3;
  font-weight: 550;
  font-size: 40px;
  height: 130px;
}
.buttons{
  height: 40%;
  width: 100%;
}
.time
{
  display: flex;
  position: relative;
  gap: 30px;
  height: 60%;
  width: 100%;
}
.circle
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg
{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
.svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.time div{
  position: absolute;
  text-align: center;
  font-weight: 550;
  color: #fff;
  font-size: 1.5em;
}
.doC{
  height: 100%;
  font-size: 1.5rem;
}
.temp-sensor{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.humidity-sensor{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}